@font-face {
    font-family: 'MYHaemalgeunSangsang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior:smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'twaysky';
}

header{
    width: 100vw;
    height: 60px;
    background-color: rgb(255, 255, 255, .5);
    position: fixed;
    top:0;
    z-index: 10;
    -webkit-transition-duration:0.8s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.8s;
    transition-timing-function:ease;
}

.header_down {
    background-color: rgb(255, 255, 255);
    -webkit-transition-duration:0.8s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.8s;
    transition-timing-function:ease;
}

nav {   
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.topMenu {
    height: 40px;
}

.topMenu > li {
    display: inline-block;
    position: relative;
}

.topMenu > li > a {
    display: block;
    color: rgb(101, 93, 187);
    font-size: 17px;
    font-weight: 600;
    padding: 10px 25px;
}

.topMenu>li>a:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: rgb(59, 41, 254);
}

@media (max-width: 1160px){
    .topMenu > li > a {
        font-size: 13px;
        padding: 10px 10px;
    }
}

.scroll_bar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255, .6);
    -webkit-transition-duration:0.8s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.8s;
    transition-timing-function:ease;
}

.scroll_bar_ing {
    position: absolute;
    height: 5px;
    background-color: rgb(101, 93, 187);
}

.scroll_bar_down {
    -webkit-transition-duration:0.8s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.8s;
    transition-timing-function:ease;
    background-color: rgb(182, 205, 255);
}

.section {
    flex-direction: column;
}

h1 {
    font-family: 'MYHaemalgeunSangsang';
    font-size: 50px;
    margin: 5% auto;
}

h2 {
    width: 100%;
    font-size: 35px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    float: left;
}

.section_home {
    background-size: cover;
    background-image: url('../image/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 2040px;
}

.section_home > div > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.section_home > div > h1 span {
    display: inline-block;
    animation: slideLeft 1.5s forwards;
    opacity: 0;
    letter-spacing: 0.1em;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 1160px){
    .section_home > div > h1 span {
        font-size: 20px;
    }
}
  
@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(100px);
    } 
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

.section_about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(236, 242, 255);
}

.about {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.about > dl {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.about_text {
    display: flex;
}

.about_text > dt {
    color: rgb(130, 170, 227);
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 50%;
}

.about_text > dd {
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 50%;
}

@media (max-width: 1160px){
    .about > dl {
        width: 80%;
    }
    .about_text > dt {
        font-size: 15px;
    }
    .about_text > dd {
        font-size: 15px;
    }
}

.section_project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.project {
    margin: 30px 10vw;
    display: flex;
    justify-content: center;
    padding: 35px;
    border-radius: 20px;
    background-color: rgb(207, 236, 243);
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
}

.project_left {
    display: block;
    width: 50%;
}

.project_right {
    display: block;
    padding-left: 5%;
    width: 50%;
}

.project_img {
    display: block;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 25px;
}

.project_bt {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(130, 170, 227);
    border: solid 2px rgb(130, 170, 227);
    color: white;
    font-size: 20px;
    width: 100%;
}

dl {
    display: block;
}

dt {
    color: rgb(130, 170, 227);
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 1%;
}

@media (max-width: 1160px){
    .project {
        flex-direction: column;
    }

    .project_left {
        width: 100%;
        height: 50%;
    }

    .project_right {
        width: 100%;
        height: 50%;
    }

    .project_right > h2 {
        font-size: 25px;
    }

    .project_right > dl > dt {
        font-size: 18px;
    }

    .project_right > dl > dd {
        font-size: 13px;
    }
}

.section_more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(236, 242, 255);
    height: 70vh;
}

.more_icon{
    text-align: center;
    margin-bottom: 5%;
}

.more_icon > li {
    display: inline-block;
}

.more_icon > li > a {
    text-decoration: none;
}

.more_icon > li > a > img {
    width: 65px;
    margin-left: 3vh;
    margin-right: 3vh;
}

.more_icon > li > a > p {
    font-family: 'MYHaemalgeunSangsang';
    color: black;
    font-size: 3vh;
}

footer{
    width: 100%;
    height: 105%;
    background-color: gray;  
    justify-content: center;
    font-size:15px;
}

footer > div{
    display: inline-block;
    margin:20px;
   
}

footer > div:nth-child(1){
    padding-right:40px ;
}

footer > div > span{
    color:white;
}
